<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- .NET Framework 版本在 .NET Framework 4.6.2 以下，
         但操作系统在 Windows 10 及以上，开启多屏不同 DPI 缩放。
         详见：https://blog.walterlv.com/post/windows-high-dpi-development-for-wpf.html -->
    <AppContextSwitchOverrides value="Switch.System.Windows.DoNotScaleForDpiChanges=false" />
  </runtime>
</configuration>